
,# Ignore the portofolio directory
portofolio/
portfolio/
.venv/
.venv/*
.devcontainer/*
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.streamlit
# uv
.uv/
# Terraform
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/terraform.tfvars
infrastructure/.terraform.lock.hcl